<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/olitreadwell</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.olitreadwell.career-weekly-review</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/olitreadwell/.career-reporting/bin/career-weekly-review</string>
		<string>/Users/olitreadwell/.career-reporting/build-digest.mjs</string>
		<string>--weekly</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/career-weekly.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/career-weekly.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>19</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
