<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.olitreadwell.swap-alarm</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/olitreadwell/.local/bin/launchd/swap-alarm</string>
		<string>/Users/olitreadwell/bin/swap-alarm.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/olitreadwell/Library/Logs/swap-alarm.err</string>
	<key>StandardOutPath</key>
	<string>/Users/olitreadwell/Library/Logs/swap-alarm.out</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
