<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.olitreadwell.oss-contrib-loop</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/olitreadwell/.local/bin/launchd/oss-contrib-loop</string>
		<string>/Users/olitreadwell/code/oss-contrib-pipeline/engine/loop.sh</string>
		<string>--interval</string>
		<string>3600</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/olitreadwell/Library/Logs/oss-contrib-loop.log</string>
	<key>StandardOutPath</key>
	<string>/Users/olitreadwell/Library/Logs/oss-contrib-loop.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
